{% load static %}
<div class="post-entry-2 d-flex">
  <div
    class="thumbnail order-md-2"
    style="background-image: url({{ article.cover_image }})"
  ></div>
  <div class="contents order-md-1 pl-0">
    <h2>
      <a href="{% url 'blog:article_detail' article.slug %}">{{ article.title }}</a>
    </h2>
    <p class="mb-3">{{ article.description }}</p>
    <div class="post-meta">
      <span class="d-block">
        <a href="#">{{ article.author }}</a> in <a href="{% url 'blog:category' article.category.slug %}">{{ article.category }}</a>
      </span>
      <span class="date-read text-capitalize">{{ article.updated_at|date:'b d, Y' }}</span>
    </div>
  </div>
</div>
