{% extends 'blog/layout/article.html' %}

{% load static %}

{% block signle_content %}
  <div class="section-title">
    <span class="caption d-block small">Categories</span>
    <h2 class='text-capitalize'>{{ category.title }}</h2>
  </div>
  {% for article in page_articles %}
    {% include 'blog/partials/article_item.html' with article=article %}
  {% endfor %}

  <div class="row">
    <div class="col-lg-6">
      <ul class="custom-pagination list-unstyled">
        {% if page_articles.has_previous %}
          <li><a href="{% url 'blog:category' category.slug %}?page=1">First</a></li>
          <li><a href="{% url 'blog:category' category.slug %}?page={{ page_articles.previous_page_number }}"> < </a></li>
        {% endif %}

        {% for i in page_articles.paginator.page_range %}
          {% if i == page_articles.number %}
            <li class="active">{{ i }}</li>
          {% else %}
            <li><a href="{% url 'blog:category' category.slug %}?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}

        {% if page_articles.has_next %}
        <li><a href="{% url 'blog:category' category.slug %}?page={{ page_articles.next_page_number }}"> > </a></li>
          <li><a href="{% url 'blog:category' category.slug %}?page={{ page_articles.paginator.num_pages }}">Last</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
{% endblock %}
