{% extends 'blog/layout/application.html' %}

{% load static %}

{% block content %}
  <div class="site-wrap">
    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 single-content">
            {% block signle_content %}{% endblock %}
          </div>

          <div class="col-lg-3 ml-auto">
            {% include 'blog/partials/popular_posts.html' with popular_posts=popular_posts %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
