<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | Brain Share</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=B612+Mono|Cabin:400,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/fonts/icomoon/style.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap-datepicker.css" />
    <link rel="stylesheet" href="/assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="/assets/fonts/flaticon/font/flaticon.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>

  <body>
    <div class="container">
      {% block content %}{% endblock content %}
    </div>

    <script src="/assets/js/libraries/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/libraries/jquery-migrate-3.0.1.min.js"></script>
    <script src="/assets/js/libraries/jquery-ui.js"></script>
    <script src="/assets/js/libraries/popper.min.js"></script>
    <script src="/assets/js/libraries/bootstrap.min.js"></script>
    <script src="/assets/js/libraries/bootstrap-notify.min.js"></script>
    <script src="/assets/js/libraries/bootstrap-datepicker.min.js"></script>
    <script src="/assets/js/libraries/jquery.sticky.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
</html>
