{% extends "layout/session.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}

<!--Password Reset Confirm-->
<div class="container p-5">
  <h2 class="font-weight-bold mt-3">Password Change</h2>
  <hr />
  <p>Please enter your new password.</p>
  <form method="POST">
    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-primary" type="submit">{% trans 'Change password' %}</button>
  </form>
</div>

{% endblock %}
