{% extends 'layout/session.html' %}

{% block title %} Edit Profile {% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12 col-md-9 col-lg-7 mx-auto my-5">
      <h4 class="text-black text-center mb-5 fw-light fs-5">Edit Profile</h4>

      {% include 'partials/messages.html' %}

      {% load crispy_forms_tags %}

      <form class="form-edit-profile" action="{% url 'users:edit_profile' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ user_form|crispy }}
        {{ profile_form|crispy }}

        <div class="d-flex justify-content-center align-items-center mt-5">
          <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Submit</button>
          <a class="btn btn-default" href="{% url 'users:my_profile' %}">Cancel</a>
        </div>

        <div class="d-grid mt-5">
          <a class='text-black' href="{% url 'users:password_change' %}"> Change password </a>
        </div>
      </form>
      <br class="mb-5">
    </div>
  </div>
{% endblock %}
