{% extends 'blog/layout/application.html' %}

{% load static %}

{% block content %}
  <div class="mt-lg-5 pt-lg-5"></div>
  {% if featured_article %}
    <div class="pb-0">
      <div class="container">
        <div class="half-post-entry d-block d-lg-flex bg-light">
          <div
            class="img-bg"
            style="background-image: url({{featured_article.cover_image.url}})"
          ></div>
          <div class="contents">
            <span class="caption">Editor's Pick</span>
            <h2>
              <a href="{% url 'blog:article_detail' featured_article.slug %}">{{ featured_article.title }}</a>
            </h2>
            <p class="mb-3">{{ featured_article.description }}</p>
            <div class="post-meta">
              <span class="d-block">
                <a href="#">{{ featured_article.author }}</a>
                in
                <a href="#">{{ featured_article.category }}</a>
              </span>
              <span class="date-read text-capitalize">{{ featured_article.updated_at|date:'b d, Y' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if featured_categories %}
  <div class="site-section">
    <div class="container">
      <div class="row">
        {% for category in featured_categories %}
          <div class="col-lg-6">
            <div class="section-title">
              <h2>{{ category }}</h2>
            </div>

            {% for article in category.article_set.all %}
              <div class="post-entry-2 d-flex">
                <div
                  class="thumbnail"
                  style="background-image: url({% static 'images/img_v_1.jpg' %})"
                ></div>
                <div class="contents">
                  <h2>
                    <a href="blog-single.html">{{ article }}</a>
                  </h2>
                  <p class="mb-3">
                    {{ article.description }}
                  </p>
                  <div class="post-meta">
                    <span class="d-block">
                      <a href="#">{{ article.author }}</a> in <a href="{% url 'blog:category' category.slug %}">{{ category }}</a></span
                    >
                    <span class="date-read text-capitalize">{{ article.updated_at|date:'b d, Y' }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="section-title">
            <h2>Recent News</h2>
          </div>
          <div id="recent_news_list"></div>
        </div>
        <div class="col-lg-3">
          {% include 'blog/partials/popular_posts.html' with popular_posts=popular_posts %}
        </div>
      </div>
    </div>
  </div>

  {% include 'blog/home/_subscribe.html' %}
{% endblock %}

{% block script %}
  <div>{% url 'blog:recent_views' %}</div>
  <script type="text/javascript">
    $.ajax({
      url: `/blog/recent_news/${location.search}`,
      type: 'GET',
    })
    .done(function(res) {
      $('#recent_news_list').html(res)
    })
    .fail(function(error) {
      if (error.status === 500) {
        $.notify("Something went wrong!", { type: 'danger' })
      }
      console.log(error)
    })
  </script>
{% endblock script %}
